@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --laranja: hsl(31, 77%, 52%);
    --ciano: hsl(184, 100%, 22%);
    --ciano-escuro: hsl(179, 100%, 13%);
    --cinza:  hsla(0, 0%, 100%, 0.75);
    --branco: hsl(0, 0%, 95%);

    --font1: 'Big Shoulders Display', cursive;
    --font2: 'Lexend Deca', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--branco);
    
}

main{
    max-width: 800px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

section{
    height: 350px;
    width: 200px;
    padding: 30px ;
    
}

img{
    margin: 20px 0px;
}


section>h1{
    font: 400 2em var(--font1);
    text-transform: uppercase;
    color: var(--branco);
    margin-bottom: 30px;
}

section>p{
    font: 300 0.9em var(--font2);
    color: var(--cinza);
    text-align: justify;
    margin-bottom: 50px;
}

a{
    font-family: var(--font2);
    font-size: 0.9em;
    background: var(--branco);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.sedan{
    background-color: var(--laranja);
    
}

.sedan>a{
    color: var(--laranja);
}

.sedan>a:hover{
    color: var(--branco);
    background: var(--laranja);
    border: 2px solid var(--branco);
}
.suv{
    background-color: var(--ciano);
}

.suv>a{
    color: var(--ciano);
}

.suv>a:hover{
    color: var(--branco);
    background: var(--ciano);
    border: 2px solid var(--branco);
}

.luxury{
    background-color: var(--ciano-escuro);
}

.luxury>a{
    color: var(--ciano-escuro);
}

.luxury>a:hover{
    color: var(--branco);
    background: var(--ciano-escuro);
    border: 2px solid var(--branco);
}

