@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --laranja: hsl(31, 77%, 52%);
    --ciano: hsl(184, 100%, 22%);
    --ciano-escuro: hsl(179, 100%, 13%);
    --cinza:  hsla(0, 0%, 100%, 0.75);
    --branco: hsl(0, 0%, 95%);

    --font1: 'Big Shoulders Display', cursive;
    --font2: 'Lexend Deca', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: var(--branco);
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
   
}

.card{
    width: 350px;
    height: 500px;
}

.conteudo{
    margin: 20px;
    padding: 30px;
}



h1{
    font-family: var(--font1);
    font-size: 2.5em;
    text-transform: uppercase;
    color: var(--branco);
}

p{
    font-family: var(--font2);
    color: var(--cinza);
    font-size: 1em;
    line-height: 30px;
}



.sedan{
    background: var(--laranja);
}
.suv{
    background: var(--ciano);
}
.luxury{
    background: var(--ciano-escuro);
}