@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --laranja: hsl(31, 77%, 52%);
    --ciano: hsl(184, 100%, 22%);
    --ciano-escuro: hsl(179, 100%, 13%);
    --branco:  hsla(0, 0%, 100%, 0.75);
    --cinza: hsl(0, 0%, 95%);

    --font1: 'Big Shoulders Display', cursive;
    --font2: 'Lexend Deca', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    color: var(--branco);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

main{
    max-width: 800px;
    
}

.carro{
    
}

.sedan{
    background-color: var(--laranja);
}

.suv{
    background-color: var(--ciano);
}

.luxury{
    background-color: var(--ciano-escuro);
}

.btn{

}